<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->

    <!-- Se utiliza para presionar enter y que salte la petición de buscar
      (onValue)="searchByCapital($event)"
    -->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por país"
    >
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
